@model List<SocialMedia>
<div class="social-links text-center">


    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
    <a href="https://x.com/?lang=tr" class="twitter"><i class="bi bi-twitter-x"></i></a>
    <a href="https://www.facebook.com/?locale=tr_TR" class="facebook"><i class="bi bi-facebook"></i></a>
    <a href="https://www.skype.com/tr/" class="google-plus"><i class="bi bi-skype"></i></a>
    <a href="https://www.linkedin.com/feed/?trk=sem-ga_campid.19331681909_asid.168715020864_crid.698313460548_kw.linkedin_d.c_tid.kwd-148086543_n.g_mt.e_geo.9198528" class="linkedin"><i class="bi bi-linkedin"></i></a>
    
</div>